body {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
.background-container {
    background-color: #000000;
    background-image:url(images/NET.png);
    height: fit-content;
    background-size: 900px;
    background-repeat: no-repeat;
    background-position: right;
}
.sunlight-image{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}
header {
    width: 100%;
    display: flex;
    align-items: center;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: darkblue; */
}
.container {
    margin: 0 auto;
    width: 80%;
}
.logo span {
    font-weight: 600;
    font-size: 25px;
    color: #fff;
}
.logo p {
    font-size: 25px;
    color: #fff;
}
ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
}
ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
.contactbtn {
    padding: 10px 24px;
    border-radius: 38px;
    border: none;
}
.contactbtn a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

/* Mobile styles */
.mobile-nav {
    width: 100%;
    position: fixed;
    top: 60px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    gap: 45px;
    height: fit-content;
    background-color:rgba(14, 13, 13, 0.97);
    transition: all 500ms ease;
}
.mobile-nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
.slide {
    transform: translateX(-110%);
}
.fa-bars{
    display: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}
.mobile-menu-icon{
    display: none;
}
.contactbtn{
    padding: 10px 24px;
    border-radius: 38px;
    border: none;
}
.contactbtn a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
}
.slide-up {
    transform: translateY(-60px);
}
#firsttx {
    font-size: 48px;
    font-weight: 600;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1)); 
    -webkit-background-clip: text; 
    color: transparent;
    line-height: 65px;
    width: 100%;
}
.zen {
    color: #0be0e0; 
}
.sectx{
    font-size: 20px;
    font-weight: 200;
    color: #fff;
    width: 70%;
    margin-top: -15px;
}
.learn{
    border: 1px solid #fff;
    background-color: transparent;
    padding: 10px 24px;
    border-radius: 38px;
}
.learn a{
    text-decoration: none;
    color: #fff;
}
.buy{
    border: none;
    background-color: #0be0e0;
    border-radius: 38px;
    padding: 10px 24px;
}
.buy a{
    text-decoration: none;
    color: #fff;
}
.hero-head{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.hero-section{
    display: flex;
}
.hero-img{
    width: 95%;
    height: 100%;
}
.hero-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-btn{
    padding: 20px 0px;
    display: flex;
    gap: 25px;
    align-items: center;
}


@media only screen and (max-width: 850px) {
    .hero-img {
        display: none;
    }
    .hero-head {
        text-align: center;
        align-items: center;
    }
    .sectx {
        font-size: 18px;
    }
    #firsttx {
        font-size: 45px;
    }
    ul{
        display: none;
    }
    .fa-bars{
        display: block;
        color: #fff;
        font-size: 24px;
        cursor: pointer;
    }
    .sunlight-image{
        display: none;
    }
    .hide {
        display: none;
    }
    .contactbtn {
        display: none;
    }
    header {
        width: 100%;
        position: relative;
    }
    .mobile-menu-icon {
        display: block;
        cursor: pointer;
    }
    .contactbtn-mobile{
        display: block;
        padding: 15px 100px;
        border-radius: 38px;
        border: none;
    }
    .contactbtn-mobile a{
        text-decoration: none;
        color: #000;
        font-size: 16px;
    }
    .hero{
        height: fit-content;
    }
}
